body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#distance_info {
    font-size: 24px;
    font-family: helvetica;
    font-weight: 500;
    color: #39ff14;
    overflow: hidden;
    position: absolute;
    top: 15vh;
    right: 1vw;
    width: 15vw;
    text-align: right;
}

.player_name {
    font-size: 17px;
}

#root_damage {
    font-size: 24px;
    color: red;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.hit {
    font-size: 24px;
    font-family: helvetica;
    font-weight: 600;
    position: absolute;
    color: #39ff14;
}

.headshotHit {
    font-size: 24px;
    font-family: helvetica;
    font-weight: 600;
    position: absolute;
    color: #ff0000;
}